<div class="jumbotron text-left">
	<h2>Search</h2>
<!-- ng-keydown="checkDownKey($event)" ng-keyup="checkUpKey($event)" -->
	<form>
		<div class="form-group">
			<input type="text" class="form-control" ng-model="keywords"  ng-change="getSimilarTerms()">

			<ul class="terms-list">
					<li ng-repeat="terms in similarTerms track by $index" ng-class="{active : selectedIndex === $index}" ng-click="selectedValue($index)">{{terms}}</li>
			</ul>

		</div>

		<div class="form-group">
			<div>
				<button type="button" class="btn btn-primary" ng-click="search()">Search</button>
			</div>
		</div>
	</form>
    <div results-preview></div>
</div>
